@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand+SC&display=swap');

$primary: #ff5722;
$dark: #121212;

$bg: white;

$text: black;
$disabledBack: #ccc;
$textDisabled: #888;

$error: #b00020;

:root {
	color-scheme: light;
}

body {
	background-color: mix(white, $primary, 70%);
	color: $text;
	font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Patrick Hand SC', cursive;
}

hr {
	position: relative;
	color: $primary;
	border: none;
	border-bottom: 2px solid $primary;
	margin: 1em auto;
	width: 30%;
	overflow: visible;
	
	&::before, &::after {
		content: "╳";
		font-weight: bold;
		position: absolute;
		z-index: 1;
		top: 2px;
		left: calc(100% + 0.5rem);
		transform: translateY(-50%);
	}

	&::after {
		left: unset;
		right: calc(100% + 0.5rem);
	}
}

code {
	font-family: 'Cousine', monospace;
}

a {
	color: $primary;
	padding: 0.75em 0;

	&:hover {
		color: mix(white, $primary, 12%);
	}

	&:active {
		color: mix($dark, $primary, 24%);
	}
}

button {
	background-color: $primary;
	border: none;
	color: white;
	padding: 0.75em 1em;
	transition: background-color 0s;
	box-shadow: 2px 2px 4px transparentize($dark, 0.8);
	transition: box-shadow 0.1s ease-in;
	
	&:hover {
		background-color: mix(white, $primary, 8%);
		box-shadow: 2px 2px 8px transparentize($dark, 0.8);
	}
	
	&:active {
		background-color: mix(white, $primary, 32%);
		box-shadow: 2px 2px 2px transparentize($dark, 0.8);
	}

	&:disabled, &:disabled:hover {
		background-color: $disabledBack;
		border: none;
		color: $textDisabled;
	}
}

input, select, textarea {
	background-color: mix($dark, $bg, 4%);
	border: none;
	color: $text;

	&:focus:not(:disabled) {
		background-color: mix($dark, $bg, 4%);
	}

	&:hover:not(:disabled) {
		background-color: mix($dark, $bg, 8%);
	}
}

input[type="checkbox"], input[type="radio"] {
	position: relative;
	margin: 0.75rem 0.5rem;
	accent-color: $primary;
	
	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		width: 1.5rem; height: 1.5rem;
		border-radius: 4px;
		background-color: mix($dark, $bg, 24%);
	}
	
	&::after {
		content: "✓";
		position: absolute;
		z-index: 2;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		width: 1.5rem; height: 1.5rem;
		border-radius: 4px;
		background-color: $primary;
		color: white;
		line-height: 1;
		text-align: center;
		font-weight: bold;
		font-size: 1.5rem;
		opacity: 0;
		transition: opacity 0.1s ease-in;
	}
	
	&:hover {
		
		&::before {
			background-color: mix($dark, $bg, 12%);
		}
		
		&::after {
			background-color: mix(white, $primary, 24%);
		}
	}
	
	&:checked {
		
		&::after {
			opacity: 1;
		}
	}
}

input[type="radio"] {

	&::before {
		border-radius: 50%;
	}

	&::after {
		content: "";
		border-radius: 50%;
		width: 1rem; height: 1rem;
	}
}

input[type="range"] {
	background-color: transparent;
	vertical-align: text-bottom;
	
	&::-webkit-slider-runnable-track {
		border: none;
		background-color: mix($dark, $bg, 8%);
		height: 0.5rem;
		border-radius: 4px;
	}
	&::-moz-range-track {
		border: none;
		background-color: mix($dark, $bg, 8%);
		border-radius: 4px;
		height: 0.5rem;
	}
	
	&::-webkit-slider-thumb {
		background-color: $primary;
		border: none;
		border-radius: 4px;
		width: 1rem;
		height: 1rem;
	}
	&::-moz-range-thumb {
		background-color: $primary;
		border: none;
		border-radius: 4px;
		width: 1rem;
		height: 1rem;
	}

	&:focus {
		background-color: transparent;

		&::-webkit-slider-runnable-track {
			background-color: mix($dark, $bg, 8%);
		}
		&::-moz-range-track {
			background-color: mix($dark, $bg, 8%);
		}
	}
	
	&:hover {
		background-color: transparent;

		&::-webkit-slider-runnable-track {
			background-color: mix($dark, $bg, 12%);
		}
		&::-moz-range-track {
			background-color: mix($dark, $bg, 12%);
		}
	}
}

#passages {
	background-color: $bg;
	padding: 4em;	
}

.error-view {
	color: white;

	button {
		
		&:hover:not(:disabled) {
			background-color: transparent;
			color: mix($dark, $bg, 8%);
		}
	}
}

#ui-overlay {
	background-color: $dark;
}

#ui-dialog {
	#ui-dialog-titlebar {
		background-color: $primary;
		color: white;
		padding: 0.5rem 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
		
		#ui-dialog-close {
			height: 100%;
			color: white;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			box-shadow: none;

			&:hover {
				background-color: $error;
			}
		}
	}

	#ui-dialog-body {
		background-color: $bg;
		border: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		button {
			box-shadow: none;

			&:not(:disabled) {
				background-color: mix($primary, $dark, 24%);
				color: white;
			}

			&:hover:not(:disabled) {
				background-color: mix(white, mix($primary, $dark, 24%), 12%);
			}
		}

		&.saves {

			tr {
				border: none;
			}

			:not(:first-child) {
				border: none;
			}

			.empty {
				color: $textDisabled;
			}
		}

		&.settings {

			input[type="range"] {
				padding-right: 0;
			}

			button[id|=setting-control] {
				background-color: mix($dark, $bg, 4%);
				color: black;
				border: none;

				&:hover {
					background-color: mix($dark, $bg, 8%);
				}

				&.enabled {
					background-color: $primary;
					color: white;

					&:hover {
						background: mix(white, $primary, 8%);
					}
				}
			}
		}
	}
}

#ui-bar {
	background-color: mix(white, $primary, 80%);
	border: none;
	border-radius: 0;
	text-align: left;

	button {
		box-shadow: none;
	}

	#ui-bar-history {
		padding-left: 1.5em;
	}

	button, [id|=history], a {
		color: transparentize(black, 0.4);
		border: none;
		
		&:hover:not(:disabled) {
			background-color: transparent;
			color: black;
			border-color: transparent;
		}
		
		&:disabled {
			color: transparentize(black, 0.8);
			border-color: transparent;
		}
	}
	
	#menu {
		a {
			color: transparentize(black, 0.4);
			border: none;

			&:hover:not(:disabled) {
				background-color: mix($dark, transparent, 8%);
				color: black;
			}
		}
	}


	#menu {

		ul {
			border: none;

			li {
				border: none;
			}
		}
	}
}

$thumb: mix(white, $primary, 20%);
$track: mix(white, $primary, 80%);

* {
	border-radius: 4px;
	scrollbar-color: $thumb $track;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}
	
	&::-webkit-scrollbar-track {
		background-color: $track;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: $thumb;
	
		&:hover {
			background-color: mix(white, $thumb, 20%);
		}

		&:active {
			background-color: mix(white, $thumb, 50%);
		}
	}
	
	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}

	&::selection {
		background-color: transparentize($primary, 0.9);
	}
}