@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=IM+Fell+English+SC&family=Nanum+Gothic+Coding&display=swap');

$primary: #cc1d22;
$primaryLight: #ff5b5b;
$dark: #121212;

$bg: $dark;

$text: transparentize(white, 0.13);
$textDisabled: transparentize(white, 0.62);

$error: #CF6679;

:root {
	color-scheme: dark;
}

body {
	background-color: $bg;
	color: $text;
	font-family: 'Caudex', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'IM Fell English SC', serif;
	font-weight: normal;
}

hr {
	color: $primary;
	font-size: 1.5em;
	font-weight: bold;
	border: none;
	position: relative;
	overflow: visible;

	&::after {
		content: "✗ ✗ ✗";
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}
}

code {
	font-family: 'Nanum Gothic Coding', monospace;
}

a {
	color: $primaryLight;
	border-bottom: 4px solid $primary;
	padding: 0.5em;
	background-image: linear-gradient(0deg, $primary 50%, transparent 50%);
	background-size: 100% 200%;
	background-position-y: -10%;
	background-repeat: no-repeat;
	transition-duration: 0.1s;

	&:hover {
		text-decoration: none;
		color: white;
		background-position-y: 100%;
		border-color: white;
	}

	&:active {
		background-position-y: 0%;
	}
}

button {
	background-color: $primary;
	border: none;
	color: white;
	padding: 0.75em 1em;
	transition-duration: 0.1s;

	&:hover {
		background-color: mix(white, $primary, 12%);
	}

	&:active {
		background-color: mix($dark, $primary, 24%);
		box-shadow: 0 0 0 0 white;
	}

	&:disabled, &:disabled:hover {
		background-color: mix(white, $bg, 8%);
		border: none;
		color: $textDisabled;
	}
}

input, select, textarea {
	background-color: mix(white, $bg, 8%);
	border: none;
	color: $text;

	&:focus:not(:disabled) {
		background-color: mix(white, $bg, 8%);
	}

	&:hover:not(:disabled) {
		background-color: mix(white, $bg, 12%);
	}
}

input[type="checkbox"], input[type="radio"] {
	position: relative;
	margin: 0.75rem 0.5rem;
	accent-color: $primary;
	
	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		width: 1.5rem; height: 1.5rem;
		background-color: mix(white, $bg, 4%);
		border: 2px solid mix(white, $bg, 28%);
	}
	
	&::after {
		content: "✓";
		position: absolute;
		z-index: 2;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		width: 1.5rem; height: 1.5rem;
		background-color: $primary;
		color: black;
		line-height: 1;
		text-align: center;
		font-weight: bold;
		font-size: 1.5rem;
		opacity: 0;
		transition: opacity 0.1s ease-in;
	}
	
	&:hover {
		
		&::before {
			background-color: mix(white, $bg, 40%);
		}
		
		&::after {
			background-color: mix(white, $primary, 40%);
		}
	}
	
	&:checked {
		
		&::after {
			opacity: 1;
		}
	}
}

input[type="radio"] {

	&::before {
		border-radius: 50%;
	}

	&::after {
		content: "";
		border-radius: 50%;
		width: 1rem; height: 1rem;
	}
}

input[type="range"] {
	background-color: transparent;
	vertical-align: text-bottom;
	
	&::-webkit-slider-runnable-track {
		border: none;
		background-color: mix(white, $bg, 12%);
		height: 0.5rem;
	}
	&::-moz-range-track {
		border: none;
		background-color: mix(white, $bg, 12%);
		height: 0.5rem;
	}

	&::-webkit-slider-thumb {
		background-color: $primary;
		border: none;
		width: 1rem;
		height: 1rem;
	}
	&::-moz-range-thumb {
		background-color: $primary;
		border: none;
		width: 1rem;
		height: 1rem;
	}

	&:focus {
		background-color: transparent;

		&::-webkit-slider-runnable-track {
			background-color: mix(white, $bg, 12%);
		}
		&::-moz-range-track {
			background-color: mix(white, $bg, 12%);
		}
	}
	
	&:hover {
		background-color: transparent;

		&::-webkit-slider-runnable-track {
			background-color: mix(white, $bg, 16%);
		}
		&::-moz-range-track {
			background-color: mix(white, $bg, 16%);
		}
	}
}

.passage {

	button:not(.error-toggle) {
		background-color: transparent;
		border: 2px solid $primary;
		color: $primaryLight;
		box-shadow: 4px 4px 0 0 $primary;
		margin: -4px 4px 4px 4px;
	
		&:hover {
			color: white;
			border-color: $primary;
			background-color: $primary;
			box-shadow: 4px 4px 0 0 white;
		}
	
		&:active {
			color: white;
			background-color: mix($dark, $primary, 24%);
			border-color: mix($dark, $primary, 24%);
			box-shadow: 0 0 0 0 white;
			translate: 4px 4px;
		}
	
		&:disabled, &:disabled:hover {
			background-color: mix(white, $bg, 8%);
			border: 1px solid $textDisabled;
			box-shadow: 4px 4px 0 0 $textDisabled;
			color: $textDisabled;
		}
	}
}

.error-view {

	button {
		color: $text;
		
		&:hover:not(:disabled) {
			background-color: transparent;
			color: white;
		}
	}
}

#ui-overlay {
	background-color: $dark;
}

#ui-dialog {
	#ui-dialog-titlebar {
		background-color: $primary;
		color: white;
		padding: 0.5rem 0;

		#ui-dialog-close {
			height: 100%;
			color: white;

			&:hover {
				background-color: $error;
			}
		}
	}

	#ui-dialog-body {
		background-color: $bg;
		border: none;

		button {
			background-color: mix($primary, $dark, 30%);
			color: white;

			&:hover:not(:disabled) {
				background-color: mix(white, mix($primary, $dark, 30%), 12%);
			}

			&:disabled {
				background-color: mix(white, $bg, 8%);
				color: $textDisabled;
			}
		}

		&.saves {

			button {
				min-width: 5em;
			}

			tr {
				border: none;
			}

			:not(:first-child) {
				border: none;
			}

			.empty {
				color: $textDisabled;
			}
		}

		&.settings {

			input[type="range"] {
				padding-right: 0;
			}

			button[id|=setting-control] {
				background-color: mix(white, $bg, 8%);
				border: none;

				&:hover {
					background-color: mix(white, $bg, 12%);
				}

				&.enabled {
					background-color: $primary;
					color: white;

					&:hover {
						background: mix($dark, $primary, 24%);
					}
				}
			}
		}
	}
}

#ui-bar {
	background-color: mix(white, $bg, 8%);
	border: none;

	button, [id|=history], a {
		color: transparentize(white, 0.4);
		border: none;
		
		&:hover:not(:disabled) {
			background-color: transparent;
			color: white;
			border-color: transparent;
		}
		
		&:disabled {
			border-color: transparent;
		}
	}
	
	#menu {
		a {
			background-image: linear-gradient(0deg, transparentize($primary, 0.5) 50%, transparent 50%);
			color: transparentize(white, 0.4);
			border: none;

			&:hover:not(:disabled) {
				color: white;
			}
		}
	}


	#menu {

		ul {
			border: none;

			li {
				border: none;
			}
		}
	}
}

$thumb: mix(white, $bg, 20%);
$track: mix(white, $bg, 10%);

* {
	scrollbar-color: $thumb $track;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}
	
	&::-webkit-scrollbar-track {
		background-color: $track;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: $thumb;
	
		&:hover {
			background-color: mix(white, $thumb, 10%);
		}

		&:active {
			background-color: mix(white, $thumb, 50%);
		}
	}
	
	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}

	&::selection {
		background-color: transparentize($primary, 0.4);
	}
}